In [10]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('users.db')
cursor = conn.cursor()

# Delete the users table
cursor.execute('DROP TABLE IF EXISTS users')

conn.commit()
conn.close()
print("The 'users' table has been deleted from the database.")

The 'users' table has been deleted from the database.

In [11]:
import sqlite3
import os

# Specify the database path
db_path = 'users.db'  # This will create the database in the current working directory

# Connect to the database (this will create 'users.db' if it doesn't exist)
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Create the users table if it doesn't exist
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username TEXT UNIQUE NOT NULL,
    password TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    confirmed INTEGER DEFAULT 0
)
''')

conn.commit()
conn.close()
print(f"Database and table created at {os.path.abspath(db_path)}")

Database and table created at /Users/apple.store.pk/Desktop/University/InfoSect/info/users.db

In [14]:
import sqlite3
import pandas as pd

def view_users():
    # Connect to the database
    conn = sqlite3.connect('users.db')
    
    # Query to select all users
    query = 'SELECT username, email, password, email_verified, verification_token FROM users'
    
    # Fetch the data into a DataFrame
    df = pd.read_sql_query(query, conn)
    
    # Close the connection
    conn.close()
    
    return df


# Run the function to see all users
view_users()

,username,email,password,email_verified,verification_token
0,Hammad,i211684@nu.edu.pk,b'$2b$12$yONUf18hPY8dfX/B59BRCevC/V8EiT9PzvAa6...,1,None
1,Talal,i200709@nu.edu.pk,b'$2b$12$mg0uRGl4t8cpHxas3KmDfOxVfamJJz9elttFY...,0,ImkyMDA3MDlAbnUuZWR1LnBrIg.Z1A6Kg.ojS2f6xns79Y...

In [12]:
import sqlite3

# Path to your SQLite database
database_path = "users.db"

# SQL commands to alter the table
alter_email_verified = "ALTER TABLE users ADD COLUMN email_verified BOOLEAN DEFAULT 0;"
alter_verification_token = "ALTER TABLE users ADD COLUMN verification_token TEXT;"

# Connect to the database
try:
    conn = sqlite3.connect(database_path)
    cursor = conn.cursor()

    # Execute the ALTER TABLE commands
    cursor.execute(alter_email_verified)
    cursor.execute(alter_verification_token)
    conn.commit()

    print("Database schema updated successfully.")
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
finally:
    if conn:
        conn.close()

Database schema updated successfully.

In [4]:
%pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.1.3-cp312-cp312-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-macosx_11_0_arm64.whl (11.4 MB)
Downloading numpy-2.1.3-cp312-cp312-macosx_14_0_arm64.whl (5.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 4.0 MB/s eta 0:00:00a 0:00:01m
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.3 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.